<html>
<head>
  <script src="../js/dfa.js" type="text/javascript"></script>
  <style>
    form {width: 22em;}
  </style>
</head>
<body>
  <div id="dfa_status">
    DFA Not Selected
  </div>
  <div>
    <form action="javascript:validate()">
      <table style="width:100%" id="table">
        <tr id="transitions">
          <th>1</th>
          <th>2</th>
        </tr>
        <tr>
          <th> A <input type="text" id="1A"> </th>
          <th> <input type="text" id="1B"> </th>
        </tr>
        <tr>
          <th> B <input type="text" id="2A"> </th>
          <th> <input type="text" id="2B"> </th>
        </tr>
      </table>
      <button id="states">Plus States</button>
      <button id="trans">Plus Transitions</button>
      <br>
      Terminal State <input type="text" id="terminal">
      <br>
      Start State <input type="text" id="start">
      <br> <br>
      <input type="submit" value="Submit">
    </form>
  </div>
  <div>
    <form id = "form">
      String
      <input type="text" name="string">
      <input type="submit" value="Submit">
    </form>
  </div>
</body>
</html>
